.container {
  max-width: 1200px;
  font-family: "M PLUS 1", sans-serif;
}
.footer {
  padding: 144px 120px 29px 119px;
}
.footerContainer {
  display: flex;
  padding-bottom: 92px;
}
.logoIcon {
  width: 74px;
  height: 81px;
}
.logoText {
  width: 220px;
  height: 65px;
}
.footerLogos {
  display: flex;
  flex-direction: column;
}
.footerIconFacebook {
  width: 13px;
  height: 23px;
}
.footerIconTwitter {
  width: 22px;
  height: 18px;
}
.footerIconInstagram {
  width: 23px;
  height: 23px;
}
.footerIconLinkedin {
  width: 23px;
  height: 22px;
}
.footerIconYouTube {
  width: 25px;
  height: 18px;
}
.footerIcons {
  width: 20px;
  height: 15px;
}
.footerLeft {
  display: flex;
  width: 372px;
  flex-direction: column;
  padding: 0;
  margin-right: 96px;
}
.footerUnderlineContainer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  border-top: 1.2px solid #d9dbe9;
}
.footerProduct {
  width: 120px;
  margin-right: 100px;
}
.footerCompany {
  width: 109px;
  margin-right: 100px;
}
.footerSupport {
  width: 160px;
  margin-right: 136px;
}
.footerContact {
  width: 272px;
}
.footerContactLink {
  line-height: 24px;
  text-decoration: none;
  color: #4f555a;
}
.footerIconsBlock {
  display: flex;
}
.footerIconsList {
  list-style: none;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: start;
  padding: 0;
}
.footerIconsItem {
  margin-right: 26px;
}
.footerList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
}
.footerSubject {
  margin-bottom: 48px;
  //font-weight: 700;
  // font-size: 20px;
  line-height: 27px;
  color: #1678f2;
}
.footerItem {
  font-weight: 400;
  margin-bottom: 17px;
  font-size: 17px;
  line-height: 24px;
  color: #4f555a;
  padding: 0;
}
.noNameText {
  color: #6f6c90;
  line-height: 36px;
}
.footerCopyright {
  margin-right: 650px;
  color: #6f6c90;
  line-height: 36px;
}
.footerRights {
  margin-right: 15px;
  position: relative;
  line-height: 36px;
  color: #6f6c90;
}
.footerRights::after {
  content: "|";
  position: absolute;
  right: -10px;
  color: #6f6c90;
}
.termsConditions {
  position: relative;
  margin-right: 15px;
  color: #4a3aff;
}
.termsConditions::after {
  content: "|";
  position: absolute;
  right: -10px;
  color: #6f6c90;
}
.policy {
  margin-right: 20px;
  color: #4a3aff;
}
